In [4]:
%load_ext sql

In [5]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://tzf21151:smswkm7h6d3xl5%5Eg@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB

'Connected: tzf21151@BLUDB'

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [7]:
%sql select distinct(count(*)) from CRIME;

 * ibm_db_sa://tzf21151:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('534'),)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [16]:
%sql select community_area_name, per_capita_income_ from chicago_socioeconomic_data where per_capita_income_ < 11000;

 * ibm_db_sa://tzf21151:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?

In [61]:
%sql select case_number from crime where primary_type = 'OFFENSE INVOLVING CHILDREN';

 * ibm_db_sa://tzf21151:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('HN567387',), ('HR391350',), ('HM768251',), ('HT394616',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [56]:
%sql select primary_type from crime where primary_type='KIDNAPPING' and description like '%CHILD%';

 * ibm_db_sa://tzf21151:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('KIDNAPPING',)]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [5]:
%sql select name_of_school, primary_type from crime c, schools s\
where c.community_area_number = s.community_area_number limit 5;

 * ibm_db_sa://tzf21151:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Josephine C Locke Elementary School', 'CRIMINAL DAMAGE'),
 ('Josephine C Locke Elementary School', 'OTHER OFFENSE'),
 ('Abraham Lincoln Elementary School', 'THEFT'),
 ('Abraham Lincoln Elementary School', 'LIQUOR LAW VIOLATION'),
 ('Abraham Lincoln Elementary School', 'BURGLARY')]

### Problem 6

##### List the average safety score for all types of schools.

In [76]:
%sql select "Elementary, Middle, or High School", avg(safety_score) as average_safety_score from schools group by "Elementary, Middle, or High School";

 * ibm_db_sa://tzf21151:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('ES', Decimal('49.520383')),
 ('HS', Decimal('49.623529')),
 ('MS', Decimal('48.000000')),
 (None, None)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [81]:
%sql select community_area_name, percent_households_below_poverty from chicago_socioeconomic_data\
order by percent_households_below_poverty desc nulls last limit 5;

 * ibm_db_sa://tzf21151:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone?

In [64]:
%sql select community_area_number, count(*) as Number_of_Crime from crime group by community_area_number\
order by number_of_crime desc limit 1;

 * ibm_db_sa://tzf21151:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(None, Decimal('44'))]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [68]:
%sql select community_area_name from chicago_socioeconomic_data\
where hardship_index = (select max(hardship_index) from chicago_socioeconomic_data)

 * ibm_db_sa://tzf21151:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [25]:
%sql create view num_crime as\
select community_area_number, count(*) as number_of_crime\
from crime group by community_area_number;
#num_crime = %sql select community_area_number, count(*) as Number_of_Crime from crime group by community_area_number
%sql select * from num_crime limit 5;

 * ibm_db_sa://tzf21151:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0601N  The name of the object to be created is identical to the existing name "TZF21151.NUM_CRIME" of type "VIEW".  SQLSTATE=42710 SQLCODE=-601
[SQL: create view num_crime as select community_area_number, count(*) as number_of_crime from crime group by community_area_number;]
(Background on this error at: http://sqlalche.me/e/13/f405)
 * ibm_db_sa://tzf21151:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(1, Decimal('6')),
 (2, Decimal('7')),
 (3, Decimal('4')),
 (4, Decimal('3')),
 (5, Decimal('4'))]

In [28]:
%sql select community_area_name from schools s\
    where s.community_area_number = (select community_area_number\
    from num_crime where number_of_crime = (select max(number_of_crime) from num_crime));

 * ibm_db_sa://tzf21151:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[]